/*index/homepage styling starts here */
.header{
background-color:white;
padding: 0px;
margin: 0px;
text-align:left;
width: auto;
}

#p23{
width: 100%;
width: auto;

}
.img{
  img {
  max-width: 100%;
  display: block;
  height: auto;
    }
}
#h1_homepage{
text-align: right;
font-size: 15px;
color: black;
padding: 0px;
float: right;
}
.nav{
margin-left: 0%;
margin-right: 0%;
   }
#afixlogo{
length:10%;
width: 20%;
margin:0px;
padding: 0px;
}
#h1_homepage:hover{
text-decoration: none;
padding:0px;
color: blue;
}
.container_home{
  /*overflow: hidden;*/
  height: 100%;
  background-image: url("images/afixbg.jpg");
  background-repeat: y;
  display: block;
width: 100%;
}
#homepage{
color:white;
padding: 0px;
display:block;

}
  .subsection1_maininfo{
  text-align: left;
  font-size: auto;
  font-family:bookman;
  margin-left: 50px;
  }
  .subsection2_maininfo{
  text-align: left;
  font-size: auto;
  font-family:cursive;
  margin-left: 50px;
  }
.form1
{
clear: both;
color: white;
align:center;
    }

ul{
  list-style-type: none;
  text-decoration: none;
  margin:0px;
  padding: 0px;
  float: left;
  height: 40px;
  text-transform: uppercase;
  width: 100%;

}

ul li{

color: white;
float: left;
padding-right: 2px;
font-family: sans-serif;
font-size: 200%;
width:25%;
height: 40px;
background-color: green;
opacity: 1;
}
ul li a{
color: white;
display: block;
}
ul li a:hover{
background-color: gold;
text-decoration: none;

}
ul li ul li{
  display: none;
  text-transform: capitalize;
  padding:0px;
  font-size:100%;

}
ul li:hover ul li{
display:block;
}

.main{
font-family: sans-serif;
}
.footer{
  background-color: blue;
  color: white;
  height: 20%;
  clear: both;
  text-align: center;
  padding: 10px;
  clear: both;
}
footer a {
color: red;
font-size: 15px;

}


/*homepage page styling ends here */

/*visionmission page styling starts here
-----
visionmission page styling ends here */

/*Contact_us page styling starts here */
.container_contactus{
  display: block;
  margin-left: 5%;
  margin-right: 5%;
                     }

.jumbotron{

color: blue;

font-family: cursive;
font-size: 18px;



text-align: justify;
}
.p1_contactus{
color: Red;
}
#p1{
color: blue;
margin-left: 150px;
}
.main_contactus{
  width:auto;
color:white;
font-family: sans-serif;
clear: both;
}

/*Contact_us page styling ends here */

/*afixusacademy page styling starts here */
.container_afixusacademy{
display: block;
margin-left: 5%;
margin-right: 5%;
                       }

.row {
margin-top:40px;
margin-left: 5%;
margin-right: 5%;
     }

/*afixusacademy page styling starts here */
